* {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}

@font-face {
    font-family: 'stencilla';
    src: url('stencilla.ttf');
}

body {
    background: url(fondo-01.jpg) black;
}

#error404 {
    margin-top: 124px;
    padding-top: 124px;
    padding-bottom: 124px;
}

#error404 h1 {
    color: white;
    font-weight: bold;
    font-size: xxx-large;
}

a {
    text-decoration: none;
}

header .bg-body-tertiary {
    margin-top: 74px;
}

#logo {
    font-size: xx-large;
    font-family: 'stencilla';
    text-decoration: none;
    color: white;
}

header section #navbar-head .container a i {
    font-size: xx-large;
}

header section nav .container #basic-navbar-nav {
    justify-content: space-around;
}

header section nav .container #basic-navbar-nav a {
    color:dimgrey;
    font-weight: bold;
}

header section nav .container #basic-navbar-nav a:hover {
    transition: 0.9s;
    -webkit-transition: 0.9s;
    -moz-transition: 0.9s;
    -ms-transition: 0.9s;
    -o-transition: 0.9s;
    color: black;
    text-shadow: 1px 1px 12px darkgrey, -1px -1px 12px darkgrey;
}